<div class="container">
  <div class="jumbotron">
    <form class="form-signin">
      <h3 class="form-signin-heading">Please sign in</h3>
      <input type="text" class="form-control" placeholder="username" autofocus>
      <input type="password" class="form-control" placeholder="password">
      <div class="form-group">
        <label for="notification1">Remember me</label>
        <div class="make-switch" data-animated="false" data-on-label="yes" data-off-label="no" data-on="success">
          <input type="radio" id="notification1">
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block signin">Sign in</button>
    </form>
  </div>
</div>