// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/

*
  box-sizing: border-box

body
  //padding-top 40px
  padding-bottom 40px
  // background-color #eee

.form-signin
  max-width 330px
  padding 15px
  margin 0 auto
  .checkbox
    font-weight normal
  label
    font-size 16px
    font-weight normal
  .form-control
    position relative
    font-size 16px
    height auto
    padding 10px
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    &:focus
      z-index 2
  input[type="text"]
    margin-bottom -1px
    border-bottom-left-radius 0
    border-bottom-right-radius 0
  input[type="password"]
    margin-bottom 10px
    border-top-left-radius 0
    border-top-right-radius 0

.form-signin .form-signin-heading,
.form-signin .checkbox
  margin-bottom 10px

